body
{
margin: 0;
}
*{
font-family: 'Roboto';
}
.navigation-wrapper
{
	display: flex;
	height:140px;
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 28%, rgba(0,212,255,1) 94%);
	color: #cbcbcb;
	justify-content: space-between;
	padding-left:20px;
	padding-right: 20px;
	padding-top: 20px;
	padding-bottom: 20px;
}
.navigation-wrapper > .left-column > .icon i{
	font-size:3.2em;
	padding-left: 50px;
	}
.nav-link-container{
	display:flex;
	justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
}
 
.nav-link-container > .nav-link a{
 	text-decoration: none;
	color: white;
	font-size: 1.2em;
    margin:15px;
    text-align: center;
}
.nav-link-container > .nav-link a:hover{
    text-decoration: none;
	color: yellow;
	font-size: 1.5em;
}

.navigation-wrapper > .left-column > .icon i:hover{
	font-size:3.2em;
	padding-left: 60px;
	color:rgb(9, 255, 0);
	}
.middle-section-wrapper{
	display:flex;
	flex-direction: column;
	align-items:center;
	text-align: center;
}
.middle-section-wrapper > .middle-column h1{
	font-size: 3.5em;
}
.middle-section-wrapper > .middle-column h2{
	color:#696969;
}
.bottom-column{
	text-align: center;
	padding-left: 40px;
	font-size:1.2em;
	padding-top: 50px;
	background-color: #00d4ff;
	padding-bottom: 20px;
}
.bottom-column:hover{
	color:#ffffff;
}
.last-section-wrapper{
	display:flex;
	justify-content: space-between;
	padding-left:200px;
	padding-right: 200px;
	padding-bottom:70px;
	padding-top: 70px;
	background-color:#00d4ff;

}

.last-section-wrapper > .last-column > .icons {
	font-size: 3.5em;
	text-align: center;
}
.last-section-wrapper > .last-column > .icons i:hover {
    color: #ffffff;
}
.last-section-wrapper > .last-column > .heading{
	text-align: center;
	font-size: 1.5em;
}

.last-section-wrapper > .last-column > .para{
	font-size: 1.3em;
	text-align: center;
}
.div1{
	text-align: center;
	font-size: 1.3em;
	padding-left: 90px;
	padding-bottom: 10px;
	padding-top: 10px;	
}
.div1:hover{
	color:#f9690e;
}
.bottom{
	background-color: #dadfe1;
	color: black;

}
.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	margin-left: 80px;
	margin-bottom: 200px;
	margin-right: 80px;
	margin-top: 10px;
	grid-gap: 10px;
	background-color: #dadfe1;

}
.grid-container > .grid-column{
	text-align: center;

}
.grid-container > .grid-column i{
	font-size: 3.0rem;
	color: #0c0c0c;
}
.grid-container > .grid-column > .a i:hover {
	font-size: 3.0rem;
	color: #f9690e;
}
.grid-container > .grid-column > .b i:hover {
	font-size: 3.0rem;
	color: #4d05e8;
}
.grid-container > .grid-column > .c i:hover {
	font-size: 3.0rem;
	color: #00e640;
}
.grid-container > .grid-column > .d i:hover {
	font-size: 3.0rem;
	color: #4183d7;
}
.grid-container > .grid-column > .e i:hover {
	font-size: 3.0rem;
	color: #9f5afd;
}
.grid-container > .grid-column > .f i:hover {
	font-size: 3.0rem;
	color: #cf000f;
}

.footer-wrapper{
	display: grid;
	grid-template-columns: auto auto auto;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1.0em;

}

.footer-wrapper > .footer-column > .footer-column2 {
	display: grid;
	grid-template-columns: auto auto auto auto;
	padding: 2px;

}
.footer-wrapper > .footer-column > .footer-column2 i{
	font-size: 1.8rem;
	color: #e87e04;
	margin-bottom: 8px;

}
.footer-wrapper > .footer-column > .footer-column2 > .fb i:hover{
	color: #22a7f0;
}
.footer-wrapper > .footer-column > .footer-column2 > .twitter i:hover{
	color :#5333ed;
}
.footer-wrapper > .footer-column > .footer-column2 > .linkedin i:hover{
	color: #4183d7;
}
.footer-wrapper > .footer-column > .footer-column2 > .instagram i:hover{
	background: rgb(131,58,180);
	background: linear-gradient(180deg, rgba(131,58,180,1) 0%, rgba(232,6,6,1) 61%, rgba(255,149,0,1) 100%);
}